*{
  box-sizing: border-box;
}

body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
  }

  .clear {
    clear: left;
  }
  
  /*ヘッダ*/
  header {
    background-color: #fdb8b0;
    width: 100%;
    height: 100px;
  }

  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .logo{
    float: left;
    width: 99px;
    margin-left: 20px;
    margin-top: 4px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
    font-size: 20px;
    margin-top: 6.5px;
  }

  a {
    color: rgb(69, 69, 69);
    text-decoration: none;
  }

  a:hover {
    color: rgb(37, 126, 161);
  }

  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 5px 0;
    display: none;
  }
  
  /*トップ画*/
  .top-wrapper {
    padding: 23px 50px 390px;
    background-image: url(maincover.png);
    background-size: cover;
  }
  
  .top-wrapper h1 {
    font-size: 31px;
  }
  
  .top-wrapper h2 {
    font-size: 15px;
    padding-bottom: 15px;
  }
  
  .top-wrapper span {
    color: #fdb8b0;
    text-shadow: 3px 3px 3px black;
  }
  
  .btn {
    display: inline-block;
    opacity: 0.8;
  }

  .btn-wrapper a {
    text-align: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 1rem 1.2rem;
    width: 150px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #ebeff1;
    transition: 0.3s;
  }
  
  .btn-wrapper a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: -7px;
    width: 100%;
    height: 2px;
    background-color: #fdb8b0;
    transition: 0.2s ease 0s;
  }
  
  .btn-wrapper a::after {
    content: '';
    position: absolute;
    top: 7px;
    right: -7px;
    width: 2px;
    height: 100%;
    background-color: #fdb8b0;
    transition: 0.2s ease 0.2s;
  }
  
  .btn-wrapper a:hover::before {
    width: 0%;
  }
  
  .btn-wrapper a:hover::after {
    height: 0%;
  }
  
  .btn-wrapper a:hover {
    text-decoration: none;
    background-color: #fdb8b0;
  }

  /*topコンテンツ*/
  .contents-wrapper {
    padding-bottom: 0px;
    background-color: #fdb8b0;
    text-align: center;
  }
  
  .contents-block {
    float: left;
    background-color: black;
    border: 9px solid #fdb8b0;
    color: #fdb8b0; 
    width: 50%;
    height: 430px;
    text-align: center;
  }

  .flower {
    width: 50%;
    height: 300px;
  }

  /*概要*/
  h4 {
    margin-top: 0pt;
  }

  .about-wrapper {
    background-color: #fdb8b0;
  }

  .about-block {
    padding-top: 20px;
    padding-bottom: 4pt;
    text-align: center;
  }
  
  .step-wrapper {
    padding-bottom: 0px;
  }
  
  .step-block {
    float: left;
    width: 33.33%;
    color: #fdb8b0;
    text-align: center;
  }

  .flowerab {
    width: 50%
  }

  .corpo-block {
    color: #fdb8b0;
    text-align: center;
  }

  .members-wrapper {
    padding-bottom: 0px;
  }

  .members-block {
    margin-bottom: 20px;
  }

  .members-block span {
    color: #fdb8b0;
  }

  p.explan {
    margin-bottom: 0px;
  }

  /*料金*/
  .plans-wrapper {
    padding-bottom: 0px;
    background-color: #fdb8b0;
    text-align: center;
  }

  .plan {
    float: left;
    background-color: #fdb8b0;
    color: black; 
    width: 50%;
    height: 430px;
    text-align: center;
  }

  /*特徴*/
  .circularpic {
    display: center;
  }

  /*つながり一覧*/
  h6 {
    margin-top: 0pt;
    margin-bottom: 0px;
    font-size: 41px;
  }

  .comment-wrapper {
    background-color: #fdb8b0;
    text-align: center;
  }
  .cooperate-block {
    float: left;
    text-align: center;
    width: 25%;
    margin-top: 10px;
    color: #fdb8b0;
  }

  .cooperateyss-img {
    width: 250px;
    padding-top: 75px;
    padding-bottom: 50px;
  }

  .cooperatemg-img {
    width: 210px;
  }

  .cooperatedb-img {
    width: 250px;
  }

  /*フッタ*/
  footer {
    background-color: #ebeff1;
    color: rgb(69, 69, 69);
    font-size: 15px;
    height: 220px;
  }
  
  .flogo {
    float: left;
    width: 69px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 75px;
    margin-left: 60px;
  }
  
  .footer-list {
    float: left;
    padding-top: 5px;
  }
  
  .footer-list li {
    padding-bottom: 10px;
  }
