body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
  }

  @media screen and (max-width:480px) {
    .contents-wrapper{
        display: block;
    }
  }
  
  .header {
    background-color: #fdb8b0;
    color: rgb(69, 69, 69);
    height: 90px;
  }
  
  .header-logo img{
    float: left;
    width: 69px;
    padding: 15px 15px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }

  a {
    color: rgb(69, 69, 69);
    text-decoration: none;
  }

  a:hover {
    color: rgb(37, 126, 161);
  }
  
  .main {
    padding: 20px 50px 400px;
  }

  .main-bg {
    background-image: url(maincover.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .top-wrapper h1 {
    font-size: 31px;
  }
  
  .top-wrapper h2 {
    font-size: 15px;
    padding-bottom: 15px;
  }
  
  .top-wrapper span {
    color: #fdb8b0;
    text-shadow: 3px 3px 3px black;
  }
  
  .button12 a {
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #ebeff1;
    transition: 0.3s;
  }
  
  .button12 a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: -7px;
    width: 100%;
    height: 2px;
    background-color: #fdb8b0;
    transition: 0.2s ease 0s;
  }
  
  .button12 a::after {
    content: '';
    position: absolute;
    top: 7px;
    right: -7px;
    width: 2px;
    height: 100%;
    background-color: #fdb8b0;
    transition: 0.2s ease 0.2s;
  }
  
  .button12 a:hover::before {
    width: 0%;
  }
  
  .button12 a:hover::after {
    height: 0%;
  }
  
  .button12 a:hover {
    text-decoration: none;
    background-color: #fdb8b0;
  }

  .contents-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contents-block1 {
    background-color: black;
    color: white;
    text-align: center;  
    width: 50%;
    height: 430px;
  }
  
  .contents-block2 {
    background-color: #ebeff1;
    text-align: center;  
    width: 50%;
    height: 430px;
  }
  
  .footer {
    background-color: #ebeff1;
    color: rgb(69, 69, 69);
    height: 200px;
    padding: 50px;
  }
  
  .footer-logo img{
    float: left;
    width: 69px;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .footer-list {
    float: left;
  }
  
  .footer-list li {
    padding-bottom: 10px;
  }
  
  .contact-form {
    padding-top: 10px;
    text-align: center;
  }
  
  input,textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #fdb8b0;
  }
    
  .contact-submit {
    background-color: #fdb8b0;
    color: #ebeff1
  }

  .section-title {
    border-bottom: 2px solid #fdb8b0;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
