*{
  box-sizing: border-box;
}

body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
  }

  .clear {
    clear: left;
  }
  
  header {
    background-color: #fdb8b0;
    width: 100%;
    height: 100px;
  }

  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .logo{
    float: left;
    width: 99px;
    margin-left: 20px;
    margin-top: 4px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
    font-size: 20px;
    margin-top: 6.5px;
  }

  a {
    color: rgb(69, 69, 69);
    text-decoration: none;
  }

  a:hover {
    color: rgb(37, 126, 161);
  }

  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 5px 0;
    display: none;
  }
  
  .top-wrapper {
    padding: 23px 50px 390px;
    background-image: url(maincover.png);
    background-size: cover;
  }
  
  .top-wrapper h1 {
    font-size: 31px;
  }
  
  .top-wrapper h2 {
    font-size: 15px;
    padding-bottom: 15px;
  }
  
  .top-wrapper span {
    color: #fdb8b0;
    text-shadow: 3px 3px 3px black;
  }
  
  .btn {
    display: inline-block;
    opacity: 0.8;
  }

  .btn-wrapper a {
    text-align: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 1rem 2.2rem;
    width: 180px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #ebeff1;
    transition: 0.3s;
  }
  
  .btn-wrapper a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: -7px;
    width: 100%;
    height: 2px;
    background-color: #fdb8b0;
    transition: 0.2s ease 0s;
  }
  
  .btn-wrapper a::after {
    content: '';
    position: absolute;
    top: 7px;
    right: -7px;
    width: 2px;
    height: 100%;
    background-color: #fdb8b0;
    transition: 0.2s ease 0.2s;
  }
  
  .btn-wrapper a:hover::before {
    width: 0%;
  }
  
  .btn-wrapper a:hover::after {
    height: 0%;
  }
  
  .btn-wrapper a:hover {
    text-decoration: none;
    background-color: #fdb8b0;
  }

  .contents-wrapper {
    padding-bottom: 0px;
    background-color: #fdb8b0;
    text-align: center;
  }
  
  .contents-block {
    float: left;
    background-color: black;
    border: 9px solid #fdb8b0;
    color: #fdb8b0; 
    width: 50%;
    height: 430px;
    text-align: center;
  }

  .flower {
    width: 50%;
    height: 300px;
  }
  
  footer {
    background-color: #ebeff1;
    color: rgb(69, 69, 69);
    font-size: 15px;
    height: 190px;
  }
  
  footer img {
    float: left;
    width: 69px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 60px;
  }
  
  .footer-list {
    float: left;
    padding-top: 5px;
  }
  
  .footer-list li {
    padding-bottom: 10px;
  }

  .plans-wrapper {
    height: 870px;
    padding-bottom: 0px;
    background-color: #fdb8b0;
    text-align: center;
  }

  .plan {
    float: left;
    background-color: #fdb8b0;
    color: black; 
    width: 50%;
    height: 430px;
    text-align: center;
  }
  
  .contact-form {
    padding-top: 10px;
    text-align: center;
  }
  
  input,textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #fdb8b0;
  }
    
  .contact-submit {
    background-color: #fdb8b0;
    color: #ebeff1
  }

  .section-title {
    border-bottom: 2px solid #fdb8b0;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
